.child-gif {
    position: relative;
    /* width: 100%;
    height: 100%; */
}

.child-gif img {
    width: 240px;
    height: 240px;
}

.child-gif h3 {
    font-size: 1.3em;
}

.onegif {
    position: relative;
    top: 60px;
    margin-bottom: 100px;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

input[type=search] {
    width: 40%;
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
}

input[type=search] {
    width: 90%;
}

.navbar {
    color: #fff;
}

.header {
    background: #333;
    color: white;
    padding: 10px;
}

.links {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.link {
    color: white;
    list-style: none;
}

.footer-bottom {
    position: fixed;
    background: #333;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}