  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, 
minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gif</title>
  </head>

  <body id="fadein" class="index-img">

    <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="logos">
            {{!-- <img src="../images/cuiszie.png" alt=""> --}}
          </li>
            <li class="nav-item" >
       {{!-- <p class="title">{{title}}</p> --}}
            </li>
                  <li class="nav-item"><a class="nav-link signin" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link signup" href="/signup">Sign up</a></li>
        </ul>
      </div>
    </nav>

   <h2 class="locations"> {{body.title}}</h2>


  </script>
  </body>

  </html