.add-gif {
    position: absolute;
    width: 100%;
    top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add-gif>div:nth-child(1) {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 100px 0px;
    color: #333;
}