:root {
    --ease: all 0.5s ease-out;
    --primary-color: #444;
    --sec-color: #f1d455;
}

.child-gif {
    position: relative;
    left: 1.5em;
}

.child-gif img {
    width: 345px;
    height: 240px;
}

.child-gif h3 {
    font-size: 1.3em;
}

.onegif {
    position: relative;
    top: 60px;
    margin-bottom: 100px;
}

.box .image-box {
    width: 800px;
}

.box .image-box img:not(.close-btn) {
    width: 100%;
}


li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

input[type=search] {
    width: 40%;
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
}

input[type=search] {
    width: 90%;
}

.navbar {
    color: #fff;
}

.header {
    background: #333;
    color: white;
    padding: 10px;
}

.links {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}


.linkx {
    text-decoration: none;
    font-size: 1em;
    border: 3px #444 solid;
    color: #333;
    padding: 0.2em 0.8em;
    margin-bottom: 3rem;
    transition: var(--ease);
    position: relative;
    left: 0em;
    top: 18px;
}

.linkx:hover {
    padding: 0.5rem 1rem;
    background-color: var(--sec-color);
    color: var(--primary-color);
    text-decoration: none;
}


.link {
    color: white;
    list-style: none;
}

.MuiButton-label a {
    text-decoration: none;
}

.MuiButton-label a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-bottom {
    position: fixed;
    background: #333;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.onegif img {
    width: 63%;
    height: 450px;
    position: relative;
}